.loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
  }
  .loading-overlay h2{
    font-family: 'Fasthand', cursive;
    position: absolute;
    top: 100px;
    font-weight: bolder;
    font-size: 4rem;
    color: #000000;
  }

  .loader {
    border: 20px solid #000000;
    border-top: 20px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }